<!DOCTYPE html>
<html lang="en">
<head>
     <!-- responsive: viewport meta tag to scale content for diff screen sizes -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/templates/asciiartstyle.css">
    
    <meta charset="UTF-8">
    <title>ASCII Art Generator Home</title>
</head>
<body>
<header id="headerID">
    <nav id="navID">
            <a>Home</a>
            <a href="/about">About</a>
    </nav>
    <div>
    </header>
    
        <h1>ASCII Art Generator</h1>
        <div class="instructions">
        <p><a href="https://en.wikipedia.org/wiki/ASCII_art">ASCII art</a> is a text-based graphic design technique using only the 95 printable characters defined by the <a href="https://en.wikipedia.org/wiki/ASCII#Printable_characters">ASCII Standard (character codes 32–126)</a>.<br>
        To create your ASCII art, provide text</a>, choose a banner style, and then click <b>Generate ASCII Art</b>.</p><br><br>
    </div>

        <form action="/ascii-art" method="POST">
        
        <label for="textInput">Write your text here:</label><br><br>
        
        <textarea id="textInputID" name="textInputName" rows="4" cols="50" required>{{.TextInput}}</textarea><br><br>
        <button onclick="document.getElementById('textInputID').value = ''">Clear input field</button>
        <br><br><br>

        <label for="banner">Choose your banner:</label>
        <select id="bannerID" name="bannerName">
            <option value="standard" {{if eq .BannerInput "standard"}} selected {{end}}>Standard</option>
            <option value="shadow" {{if eq .BannerInput "shadow"}} selected {{end}}>Shadow</option>
            <option value="thinkertoy" {{if eq .BannerInput "thinkertoy"}} selected {{end}}>Thinkertoy</option>
        </select><br><br>

        <input type="submit" value="Generate ASCII Art">
        </form>
</div>

<div>
    <h2>Your ASCII Art</h2>
    <!-- Template placeholder for ASCII art result -->
    <pre class="resultPre" id="resultPreID">{{.ArtResult}}</pre>
    <!-- In Go's html/template package, {{.}} represents the data passed into the template from your Go code. The . (dot) is a placeholder that holds whatever value you provide to templates.Execute. When {{.}} appears in the template, it’s replaced by the data passed in. templates.Execute(w, asciiArt) -- Here, asciiArt is the data being passed to the template, so {{.}} in the template will be replaced with the value of asciiArt.-->
    <form action="" method="GET">
        <button type="submit">Reset</button>
    </form>

</div>

<footer>
    <p>ascii-art by InkaJediRichardi 2024<br>
        Background pixel art by <a href="https://gemini.google.com/">Gemini AI</a></p>
</footer>
</body>
</html>
